<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chiangus Anamamos</title>

    <!-- Link de la tipografia -->
       <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Link del css -->
     <link rel="stylesheet" type="text/css" href="/styles/main.css">


</head>

<body>
    <!-- Inicio el header -->
    <header class="header">
        <!-- Elementos del header -->

        <!-- Logo -->
        <!-- Navegacion Principal -->
      <div class="header-banner">
                <img class="logo" src="/images/recursos/logo.png" alt="logo">

                <nav class="navegacion">

                    <a href="" class="navegacion--links">Home,</a>
                    <a href="" class="navegacion--links">Apparel,</a>
                    <a href="" class="navegacion--links">Blog,</a>
                    <a href="/store" class="navegacion--links"> Shop</a>
         

                </nav>
            </div>

     
    </header>
    {{!-- Navegacion contextual --}}
    <section class="contextual">
        <a href="/store/category/Tank" class="navegacion--links">Tank,</a>
        <a href="/store/category/Jeans" class="navegacion--links">Jeans,</a>
        <a href="/store/category/Graphic Tees" class="navegacion--links">Graphic Tees,</a>
        <a href="/store/category/Dress" class="navegacion--links">Dress,</a>

    </section>


    {{{body}}}

    <!-- seccion footer -->
           <section class="footer">
            footer
            <div class="footer-info">
                <p> CHANGE CURRENCY: </p>
                <p> TERMS AND CONDITIONS </p>
                <p> PRIVATE POLICY </p>
                <p> CONTACT US </p>
            </div>
            <div class="footer-nl">
                <p>Subscribe to our newsletter</p>

            </div>
        </section>


    <script src="/scrips/javaCart.js"></script>
    <script src="/scrips/javaStore.js"></script>
    <script src="/scrips/addcart.js"></script>


</body>

</html>