<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nike by MJAB</title>

    <!-- Link de la tipografia -->
       <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Link del css -->
     <link rel="stylesheet" type="text/css" href="/styles/main.css">


</head>

<body>
    <!-- Inicio el header -->
    <header class="header">
        <!-- Elementos del header -->

        <!-- Logo -->
        <!-- Navegacion Principal -->
        <a href="#"> <img class="header__logo" src="/images/ui/logo.png" alt=""></a>

        <nav class="header__list listnav">
            <a href="/#" class="listnav__a">Home</a>
             <a href="/store" class="listnav__a">Home</a>
            <a href="/#presentation" class="listnav__a">Apparel</a>
            <a href="/#characteristic" class="listnav__a">Blog</a>

        </nav>

        <section class="header__store">
         <a class="header__btn" href="/shopping">
         {{!-- TINES QUE CAMBIARRRRRRR ESTE ICONO --}}
            <img src="/images/ui/tienda.png" alt=""></a>
        </a>
        <a class="header__bag" href="/shopping">
            <h1>{{cartSize}}</h1>
        </a>
        </section>
       




        <!-- Responsive -->
        <button class="header__responsive">
            <img src="images/menu.png" alt="">
        </button>
    </header>
    {{!-- Navegacion contextual --}}
    <section class="contextual">
        <a href="/store/category/Men's Shoe" class="contextual__list">MEN</a>
        <a href="/store/category/Women's Shoe" class="contextual__list">WOMAN</a>
        <a href="/store/category/Kid's Shoe" class="contextual__list">KID</a>

    </section>


    {{{body}}}

    <!-- seccion footer -->
           <section class="footer">
            footer
            <div class="footer-info">
                <p> CHANGE CURRENCY: </p>
                <p> TERMS AND CONDITIONS </p>
                <p> PRIVATE POLICY </p>
                <p> CONTACT US </p>
            </div>
            <div class="footer-nl">
                <p>Subscribe to our newsletter</p>

            </div>
        </section>


    <script src="/scrips/javaHome.js"></script>
    <script src="/scrips/javaCart.js"></script>
    <script src="/scrips/javaStore.js"></script>
    <script src="/scrips/addcart.js"></script>


</body>

</html>